In [1]:
import os 
import numpy as np
import pandas as pd
import config, load_o_data

In [2]:
df_train = load_o_data.load_df_train()

df_x_train shape=(2386133, 5)
df_y_train shape=(2386133, 2)
df_train:

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2386133 entries, 0 to 2386132
Data columns (total 6 columns):
 #   Column        Dtype
---  ------        -----
 0   id            object
 1   core_cust_id  object
 2   prod_code     object
 3   prod_type     int8
 4   deal_date     datetime64[ns]
 5   y             int8
dtypes: datetime64[ns](1), int8(2), object(3)
memory usage: 551.3 MB

In [3]:
df_train.head()

,id,core_cust_id,prod_code,prod_type,deal_date,y
0,4e3c3d57b83e425f8087b1d6d32a50f7,6e2105d9fe,90318011,4,2021-08-01,0
1,aa83c5fc05414c4d9727f0b32882f80e,6e2105d9fe,GRHLA20211530,1,2021-09-01,0
2,11245458ed6446cd9f88d57a5fc1d957,6e2105d9fe,DECD21090102,2,2021-09-01,0
3,359a03ecc46240d9bc00eef58dbc85e3,6e2105d9fe,GRHLA20211119,1,2021-08-01,0
4,7a5d79036dfb46acb7348e741ab00d9f,6e2105d9fe,GRHLA20211125,1,2021-08-01,0

In [4]:
df_train.apply([min, max, ])

,id,core_cust_id,prod_code,prod_type,deal_date,y
min,000008390a954764a434cee0178965bd,1087ee0a95,90318011,1,2021-07-01,0
max,ffffff33047047febd26a887a3f32a1a,f1c58a672,SSTJMZKF002,4,2021-09-01,1

In [5]:
df_train['y'].apply([np.mean])

mean    0.010659
Name: y, dtype: float64

In [6]:
df_train.groupby(['core_cust_id', 'deal_date', ]).agg({'prod_type': len, 'y': np.sum, })

                         prod_type  y
core_cust_id deal_date
1087ee0a95   2021-07-01          4  1
             2021-08-01          3  0
             2021-09-01          7  0
1087ee0c87   2021-07-01          4  0
             2021-08-01          3  0
...                            ... ..
f1c586020    2021-09-01          5  0
f1c586086    2021-09-01         10  0
f1c58a2ec    2021-08-01          4  0
             2021-09-01          5  0
f1c58a672    2021-09-01          8  0

[736412 rows x 2 columns]

In [8]:
df_test = load_o_data.load_df_test()

df_test shape=(567362, 5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567362 entries, 0 to 567361
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            567362 non-null  object
 1   core_cust_id  567362 non-null  object
 2   prod_code     567362 non-null  object
 3   prod_type     567362 non-null  int8
 4   deal_date     567362 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int8(1), object(3)
memory usage: 126.3 MB

In [9]:
df_test.apply([min, max, ])

,id,core_cust_id,prod_code,prod_type,deal_date
min,000009b3391641aeb2938ca87b7b748a,1087ee0a95,90318011,1,2021-10-01
max,ffffe9a060544665aad3226170362e6a,f1c58a672,SSTJMZKF002,4,2021-10-01

In [11]:
df_test.groupby(['core_cust_id', 'deal_date', ]).agg({'prod_type': len, })

                         prod_type
core_cust_id deal_date
1087ee0a95   2021-10-01          3
1087ee17e3   2021-10-01          5
1087ee19d4   2021-10-01          5
1087ee1a96   2021-10-01          5
1087ee1e23   2021-10-01          5
...                            ...
f04815fc6    2021-10-01          5
f1c5801fe    2021-10-01          5
f1c581e7e    2021-10-01          5
f1c58a2ec    2021-10-01          5
f1c58a672    2021-10-01          5

[112645 rows x 1 columns]

In [12]:
df_user_basic = load_o_data.load_df_user_basic()

df_userinfo shape=(264055, 4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264055 entries, 0 to 264054
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   core_cust_id  264055 non-null  object
 1   sex           264055 non-null  int8
 2   cust_level    264055 non-null  int8
 3   age           264055 non-null  int8
dtypes: int8(3), object(1)
memory usage: 17.6 MB

In [18]:
df_user_basic.apply([min, max])

    core_cust_id  sex  cust_level  age
min   1087ee0a95    1          -1   18
max    f1c58a672    2           4  101

In [19]:
df_user_risk = load_o_data.load_df_user_risk()

df_userrisk shape=(316116, 3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316116 entries, 0 to 316115
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   core_cust_id    316116 non-null  object
 1   cust_risklevel  316116 non-null  int8
 2   eval_date       316116 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int8(1), object(1)
memory usage: 22.9 MB

In [20]:
df_user_risk.apply([min, max])

    core_cust_id  cust_risklevel  eval_date
min   1087ee0a95               1 2013-03-04
max    f1c58a672               5 2021-09-30

In [ ]:
df_user_assets = load_o_data.load_df_user_assets()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1038596 entries, 0 to 1038595
Data columns (total 23 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   core_cust_id  1038596 non-null  object
 1   f1            1038596 non-null  object
 2   f2            97285 non-null    object
 3   f3            102669 non-null   object
 4   f4            53939 non-null    object
 5   f5            25147 non-null    object
 6   f6            24650 non-null    object
 7   f7            97285 non-null    object
 8   f8            102669 non-null   object
 9   f9            53939 non-null    object
 10  f10           25147 non-null    object
 11  f11           24650 non-null    object
 12  f12           97285 non-null    object
 13  f13           102669 non-null   object
 14  f14           53939 non-null    object
 15  f15           25147 non-null    object
 16  f16           24650 non-null    object
 17  f17           97285 non-null    object
 18  f18           102669 non-null   object
 19  f19           53939 non-null    object
 20  f20           25147 non-null    object
 21  f21           24650 non-null    object
 22  f22           1038596 non-null  int64
dtypes: int64(1), object(22)
memory usage: 810.8 MB

In [ ]:
df_user_assets.apply([min, max])